

/* ==========================================================================
   Author's custom styles
   ========================================================================== */



h1,
body {
	text-align: center;
}


h1 {
  font-size: 110%
}

body {
    background-color: lightblue;
    padding: 15px 15px 15px 15px;
}












