{% extends 'base.html' %}
{% from "macros.html" import render_field %}
{%block styles%}
{{ super() }}
<style type="text/css">
select {
    width:650px;
}
</style>
{%endblock%}
<!-- information on these variables can be found in Vasco\views.py-->
{% block content %}
    <div class="jumbotron">
      <div class="container">
        <img src="/static/img/Vasco.jpg" height="165" width="175">
          <br><br>
          <h3>Availbe data below. Enjoy!</h3>
          <br><br>
          The following data points have been recorded for at least one of the selected countries and years.
          <br><br><br>
          <form id="main_form" action="" method="post">
            {{indic_form.hidden_tag()}}
                <table>
                <tr>{{ render_field(indic_form.indicators, size=35) }}</tr>
                <br>
                <tr>{{ render_field(indic_form.Email, size=35) }}</tr>
                <!--
                <tr>{{ render_field(indic_form.send_descriptions, size=15) }}</tr>
                descriptions are not being added to the final data set correctly, taking this out for now
                -->
                <br>
                    </table>
                    <br><br>
                    <tr class= "submit" align="center">
                        <td></td>
                        <td><button type='submit'class="btn btn-success" align="center">Get the data</button></td>
                    </tr>
                    <br><br>
                    <tr><em><div id="loading">status: ready when you are!</div></em></tr> 
                </table>
            </form>
            <br><br>
           Please submit your request again if the download does not start shortly. 
           <br>It will be in CSV format.
{% endblock %}