{% extends 'base.html' %}
{% from "macros.html" import render_field %}


<!-- information on these variables can be found in Vasco\views.py-->
{% block content %}
    <div class="jumbotron">
      <div class="container">
      <img src="static/img/Vasco.jpg" height="165" width="175">
        <h1>Vasco de Data</h1>
        <br>
        <!-- js is ready once I want it <script src="static/js/main.js"></script> -->
        <br>
          <h2> Public data that is {{ htwo }} </h2>
          <br>
          <em>sources from which Vasco is currently pulling and cleaning data</em> 
          <br><br>
          <a href="https://datahelpdesk.worldbank.org/knowledgebase/topics/125589">The World Bank </a>| <a href="http://hdr.undp.org/en/data">United Nations </a>
          <br><br><br>
          <hr>
          <br>
          <em>data has been gathered for the following countries </em>
          <br><br>
          {% for c in countries_etld %}
          {{ c }} | 
          {% endfor%}
          <br><br>
          <hr>
          <br>
          <h3>Please select a Country and a Year to see indicator availibility</h3>
          <br>
          <section>
          <em>hold the ctrl button or click and drag to select more than one.</em>
          <br><br><br>
          <table>
            <form id="main_form" action="" method="post">
                {{avail_form.hidden_tag()}}
                    <tr><table>
                    {{ render_field(avail_form.countries, size=15) }}

                     {{ render_field(avail_form.years, size=15)}}
                    </table>
                    </tr>
                    <br><br><br><br>
                    <tr class= "submit" align="center">
                        <td></td>
                        <td><button type='submit'class="btn btn-success" align="center">See indicators availible</button></td>
                    </tr>
                    <br><br>
                    <tr><em><div id="loading">status: ready when you are!</div></em></tr>
                </table>
            </form>
    </section>
      </div>
    </div>
{% endblock %}