{% extends 'base.html' %}

{% block content %}
    <div class="jumbotron">
      <div class="container">
        <h1>Hello World Flask edition </h1>
        <br>
        <img src="img/">
        <br><br>
          <h2> jinja popuates this h2 with {{ htwo }} </h2>
          <br><br><br>
          {{ avail }}
          <br><br>
          <br><br>
          <p>it can aso put data here {{ usr }} - and here is a return from a function {{shrub.strip('Y')}}
          <br>
          <section>
          data going here soon
          </section>
      </div>
    </div>
{% endblock %}
