<html>
	<head>
		<title> Public Data Pub</title>
        <!--link href="Front/styles/paint_and_letter.css" rel="stylesheet" type="text/css"-->
    </head>
<h1>Pub under construction here</h1>
<br><br>
<div id="check">this is a div with id check. ignore it. </div>
<body>
<p>Welcome to pubdatapub! a place where nasty, unorginized public data is first_mixed and served as you want it: a complex, rich, coctail, or a straight pour of a single data set. Sadly, my developer is a hardcore n00b at all this, but the great folks at blazing db are giving him a chance to build something special! email feedback to <em>altereeeeego@gmail.com</em></p>
	<br>
	<p>/////////
	be sure to check out blazing db at http://blazingdb.com/
	/////////</p>
	This here will get indicator availibility someday! lol.
<form action='/Bar' method='POST'>
	<br><br><br>
	<p>So right now, I have data from the World Bank on global economics and data from the UN Human development Report on Poverty and standard of living</p>
	Countries: <input type="text" name="countries">
	Years: <input type="text" name="years">
	<input type="submit" class='nombre' value='place order'>
</form>
<!--script src="front/scripts/Hostess.js"></script -->
</body>
</html>